[run]
source = app
omit =
    app/api/*
    app/core/*
    app/main.py
    app/deps.py
    app/routes/*
    app/schemas/auth.py
    app/schemas/malla.py
    app/schemas/progreso.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod